include ./data-list
mixin spotlightcard
    .main-cards-wrapper.flex-space-between
        each card, index in spotlightCards
            if index < 2
                article.main-card.flex-align-center 
                    .main-card-img-holder 
                        img.main-card-img(src=card.image, alt="")
                    .main-card-infos
                        h3.main-card-heading #{card.title}
                        .main-card-paragraph-wrapper
                            p.main-card-description.desc #{card.description}
                        .main-card-details 
                            time.main-card-date.main-card-detail(datetime="2022-10-05") #{card.date}
                            button.main-card-comments.main-card-detail #{card.commentsNumber}
                            a.main-card-shares.main-card-detail(href= card.link) #{card.sharesNumber}
                    button.main-card-btn.show-more-btn(data-content="Afficher plus" aria-label="Afficher plus")  
    .normal-cards-wrapper.flex-space-between
        each card, index in spotlightCards
            if index > 1
                article.card.flex-align-center
                    .card-img-holder 
                        img.card-img(src=card.image, alt="")
                    .card-infos
                        h3.card-heading #{card.title}
                        .card-paragraph-wrapper
                            p.card-description.desc #{card.description}
                        .card-details 
                            time.card-date.card-detail(datetime="2022-10-05") #{card.date}
                            button.card-comments.card-detail #{card.commentsNumber}
                            a.card-shares.card-detail(href= card.link) #{card.sharesNumber}
                    button.card-btn.show-more-btn(data-content="Afficher plus" aria-label="Afficher plus") 
