include ./data-list

mixin businessNewsCard
    each card in businessNewsCards
        li.glide__slide.business-news-slide.flex-center
            article.business-news-card 
                img.business-news-card-img(src=card.image alt=card.company)
                .business-news-card-date
                    time.business-news-card-day(datetime="2023-10-04") #{card.day}
                    time.business-news-card-month(datetime="2023-10-04") #{card.month}
                p.news-type.flex-center #{card.type}
                h3.business-news-card-heading #{card.company}
                a.business-news-card-link.flex-center(href=card.link)
                    span.know-more.flex-center Savoir plus
